<li class="font-bold text-gray-900 mt-4">
    {{--  disini seharusnya parent  --}}
</li>

@each(page in pages)
    <li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
        <a href="/{{project.slug}}/{{version.slug}}/{{topbar.slug}}/{{page.slug}}">{{ page.name }} </a>
    </li>
@end