<li class="font-bold text-gray-900 mt-4">
    Project
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Instruction mobile</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Providers</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Changelog</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Roadmap</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">FAQ</a>
</li>
<li>
    <a href="#">Project Structure</a>
</li>
<li class="font-bold text-gray-900 mt-4">
    Getting Started
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Installation</a>
</li>
<li class="font-bold text-gray-900 mt-4">
    Guides
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Enable Anthropic Cache</a>
</li>
<li class="font-bold text-gray-900 mt-4">
    Pages
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Dashboard</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Logs</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Configuration</a>
</li>
<li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
    <a href="#">Statistics</a>
</li>