<div class="flex-1">
    <a class="btn btn-ghost text-2xl md:text-xl text-slate-900 font-bold hidden md:block mt-3">Golang</a>
    <div class="gap-[32px] items-center hidden lg:block">
        <div class="flex gap-[10px]">
            @each(menu in menus)
                <a href="#" class="text-md text-slate-900 font-medium">{{ menu }}</a>
            @end
        </div>
    </div>
</div>