
@layout.app({ title: currentPage.title})

    @slot('meta')
      {{--  style markdown  --}}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css" integrity="sha512-heNHQxAqmr9b5CZSB7/7NSC96qtb9HCeOKomgLFv9VLkH+B3xLgUtP73i1rM8Gpmfaxb7262LFLJaH/hKXyxyA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

      <!-- and it's easy to individually load additional languages -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

      <script>hljs.highlightAll();</script>
    @endslot

    @!component('components/pages/docs/header/header', { pages, project, version, topbar })

    <!--blue block notif start -->
    {{--  @!component('components/pages/docs/block_notif', { blockNotif: { 
      title: '🎉 Exciting news! CursorLens Now supports Caching for Anthropic', 
      linkText: 'Check out the guide',
      link: '#'
    }})  --}}
    <!--blue block notif end -->

    <!-- main section start -->
    <main class="container">
      <div class="flex lg:flex-row">
        <!-- Left Sidebar (Menu) - Desktop & Tablet -->
        @!component('components/pages/docs/leftbar', { pages, project, version, topbar })
        <!-- Left Sidebar (Menu) - Desktop & Tablet end -->

        <!-- Center Content start -->
        {{--  <div class="w-full md:w-2/3 lg:w-3/5 xl:w-1/2 p-4 mt-8 flex flex-col">  --}}
        <div class="w-full p-4 mr-12 border mt-8 flex flex-col">
          @!component('components/pages/docs/breadcrumbs', { breadcrumbs: [project.title, currentPage.name, null] })
          
          {{--  @!component('components/pages/docs/page_info', { pageInfo : {
            viewer : '1k', 
            stars: '77.9', 
            license: 'MIT License'
          }})  --}}

          <!-- Table Of Content / on this page for Tab & Mobile -->
          <!--  this detect markdown-body  -->
          @!component('components/pages/docs/table_of_content_tab') 
          <!-- Table Of Content / on this page for Tab & Mobile End -->

          <!-- Main start -->
          <div class="mt-8 markdown-body">
            {{{ currentPage.content }}}
          </div>
          <!-- Main end -->

        </div>
        <!-- Center Content end -->

        <!-- Right Sidebar / Table Of Content (Info/Related Content) - Desktop Only - start -->
        @!component('components/pages/docs/table_of_content', { content: currentPage.content })
         <!-- Right Sidebar / Table Of Content (Info/Related Content) - Desktop Only - end -->

      </div>
    </main>

@end