<div class="w-full h-[42px] bg-gradient-to-r from-blue-500 to-indigo-500">
    <p class="text-white font-normal text-center text-sm md:text-base lg:text-md pt-0 md:pt-2">
        {{ blockNotif.title }}
        <a href="{{ blockNotif.link }}" class="underline text-white">{{ blockNotif.linkText }}</a>
    </p>
</div>