<div>
    <p class="text-sm capitalize">
      {{ data[0] }}  /
      <span class="font-sm font-normal text-gray-900 capitalize">{{ data[1] }} {{ data[2] ? ' / ' + data[2] : ''}}</span>
    </p>
  </div>