<div>
    <p class="text-sm capitalize">
      {{ breadcrumbs[0] }}  /
      <span class="font-sm font-normal text-gray-900 capitalize">{{ breadcrumbs[1] }} {{ breadcrumbs[2] ? ' / ' + breadcrumbs[2] : ''}}</span>
    </p>
  </div>