<header class="h-[72px] container mx-auto ">
    <!-- navbar-start -->
    <nav class="navbar flex bg-white items-center border-b">
      <!-- sidebar mobile version start -->
      <div class="drawer block md:hidden mt-2">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <label for="my-drawer" class="flex gap-1 z-30">
            <img src="public/menu.svg" alt="" />
            <a class="text-2xl md:text-xl text-slate-900 font-bold block md:hidden mt-1">Apisaga</a>
          </label> 
        </div>
        <div class="drawer-side z-20">
          <label
            for="my-drawer"
            class="drawer-overlay"
            aria-label="close sidebar"
          >
          </label>
          <ul class="menu bg-white text-base-content min-h-full w-full p-4">
            <!-- sidebar tittle api saga mobile -->
            <div class="flex justify-between items-center">
              <label for="my-drawer" class="flex space-x-1">
                  
                <img src="{{ asset('resources/images/docs/menu.svg') }}" alt="" />
                <a class="text-slate-900 font-bold block md:hidden mt-3 text-sm md:text-lg">
                  {{--  {{ project.title }}  --}}
                  Apisaga
                </a>
              </label>
              <div class="flex gap-2">
                <img
                  src="{{ asset('resources/images/docs/sun-tab.svg') }}"
                  alt=""
                  class="h-[24px] w-[24px]"
                />
                <img src="{{ asset('resources/images/docs/git.svg') }}" alt="" class="h-[24px] w-[24px]" />
              </div>
            </div>
            <!-- Sidebar content here -->
            <li class="font-bold text-gray-900 mt-4">Project</li>
            <li class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900">
              <a href="#">Instruction</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Providers</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Changelog</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Roadmap</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">FAQ</a>
            </li>
            <li><a href="#">Project Structure</a></li>
            <li class="font-bold text-gray-900 mt-4">Getting Started</li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Installation</a>
            </li>
            <li class="font-bold text-gray-900 mt-4">Guides</li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Enable Anthropic Cache</a>
            </li>
            <li class="font-bold text-gray-900 mt-4">Pages</li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Dashboard</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Logs</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Configuration</a>
            </li>
            <li
              class="text-gray-400 font-normal hover:text-gray-900 active:text-gray-900"
            >
              <a href="#">Statistics</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- sidebar mobile version end -->

      <!-- navbar desktop start -->
      <div class="flex-1">
        <a
          class="btn btn-ghost text-2xl md:text-xl text-slate-900 font-bold hidden md:block mt-3"
          >Apisaga</a
        >
        <div class="gap-[32px] items-center hidden lg:block">
          <div class="flex gap-[10px]">
            <ul class="text-md text-slate-900 font-medium">
              <li>
                <a href="#">Golang</a>
              </li>
            </ul>
            <ul class="text-md text-slate-400 font-light hover:text-gray-900 active:text-gray-900">
              <li>
                <a href="#">React</a>
              </li>
            </ul>
            <ul class="text-md text-slate-400 font-light hover:text-gray-900 active:text-gray-900">
              <li>
                <a href="#">Tailwind</a>
              </li>
            </ul>
            <ul class="text-md text-slate-400 font-light hover:text-gray-900 active:text-gray-900">
              <li>
                <a href="#">Bootstrap</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-none gap-4 md:gap-1 mt-[10px] md:mt-0">
        <!-- search with modal -->
        <div class="form-control relative" id="open-search-modal-input">
          <button class="relative md:block lg:hidden">
            <img
              src="{{ asset('resources/images/docs/search-tab.svg') }}"
              alt=""
              class="w-[32px] h-[32px]mt-2 pl-1 items-center"
            />
          </button>
          <button class="hidden lg:block">
            <img
              src="{{ asset('resources/images/docs/search-normal.svg') }}"
              alt=""
              class="w-[32px] h-[32px] absolute mt-2 pl-1 items-center"
            />
            <img
              src="{{ asset('resources/images/docs/search-decor.png') }}"
              alt=""
              class="w-[32px] h-[22px] absolute items-center end-2 mt-4"
            />
            <input
              type="text"
              placeholder="Search"
              class="input input-bordered w-24 md:w-auto bg-white pl-10"
            />
          </button>
        </div>

        <!-- Modal Search -->
        <div
          id="search-modal"
          class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50 hidden backdrop-blur-sm p-4 md:p-0"
        >
          <div class="bg-white rounded-lg p-6 w-full max-w-md relative">
            <div class="flex relative items-center">
              <img
                src="{{ asset('resources/images/docs/search-modal.svg') }}"
                alt=""
                class="absolute start-2"
              />
              <input
                id="modal-search-input"
                type="text"
                class="w-full p-4 border border-gray-300 border-b-2 rounded-lg bg-white text-center focus:outline-none"
                placeholder="Search..."
              />
              <img
                src="{{ asset('resources/images/docs/close-circle-modal.svg') }}"
                alt=""
                class="absolute end-2 cursor-pointer"
                id="close-search-modal"
              />
            </div>

            <!-- Hasil pencarian -->
            <ul
              id="search-results"
              class="mt-4 text-gray-900 font-medium"
            ></ul>

            <!-- Messsage 'Not Found' -->
            <div id="not-found" class="hidden mt-4">
              <p class="text-gray-900 font-medium text-center text-lg">
                No results found
              </p>
              <p class="text-gray-300 text-thin mt-2 text-center">
                We are currently unable to find any results for that search
                term. Please try searching for something else.
              </p>
            </div>
          </div>
        </div>

        <div class="relative md:block hidden">
          <img
            src="{{ asset('resources/images/docs/sun-tab.svg') }}"
            alt=""
            class="w-[32px] h-[32px] items-center ml-4"
          />
        </div>

        <!-- Modal Search -->
        <div
          id="search-modal"
          class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden z-50 backdrop-blur-sm p-4 md:p-0"
        >
          <div class="bg-white rounded-lg p-6 w-full max-w-md relative">
            <!-- Input Search di Modal -->
            <div class="flex relative items-center">
              <img
                src="{{ asset('resources/images/docs/search-modal.svg') }}"
                alt=""
                class="absolute start-2"
              />
              <input
                type="text"
                class="w-full p-4 border border-gray-300 border-b-2 rounded-lg bg-white text-center focus:outline-none"
                placeholder="search..."
                autofocus
              />
              <img
                src="{{ asset('resources/images/docs/close-circle-modal.svg') }}"
                alt=""
                class="absolute end-2"
                id="close-search-modal"
              />
            </div>
            <!-- Hasil Search (Contoh) -->
            <ul class="mt-4" id="search-results">
              <p class="font-normal text-gray-900 text-lg md:text-xl">
                Getting Started
              </p>
              <li class="mt-4 bg-gray-100 rounded-xl">
                <a
                  href="#installation"
                  class="block p-2 hover:bg-gray-100 font-normal text-gray-900 text-sm md:text-md"
                  >Installation
                  <p class="font-bold text-sm md:text-md text-green-500 mt-2">
                    #installation
                  </p></a
                >
              </li>
              <li class="mt-4">
                <a
                  href="#installation"
                  class="block p-2 hover:bg-gray-100 font-normal text-gray-900 text-sm md:text-md"
                  >Configuration
                  <p class="font-bold text-sm md:text-md text-green-500 mt-2">
                    #installation
                  </p></a
                >
              </li>
              <li class="mt-4">
                <a
                  href="#installation"
                  class="block p-2 hover:bg-gray-100 font-normal text-gray-900 text-sm md:text-md"
                  >Playbook
                  <p class="font-bold text-sm md:text-md text-green-500 mt-2">
                    #installation
                  </p></a
                >
              </li>
            </ul>
            <!-- Notifikasi 'Not Found' -->
            <p id="not-found" class="hidden mt-4 text-center text-red-500">
              Not Found
            </p>
          </div>
        </div>

        <!-- dropdown verison Language -->

        <div class="dropdown dropdown-end bg-white hidden lg:block">
          <div tabindex="0" role="button" class="btn btn-ghost">
            <div class="w-24 rounded-none flex items-center">
              <img src="{{ asset('resources/images/docs/language-square.png') }}" alt="" class="p-1" />
              <p class="text-sm text-gray-900">English</p>
              <img src="{{ asset('resources/images/docs/arrow-down.svg') }}" alt="" class="pl-1" />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-white rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li>
              <a
                class="justify-between font-medium text-gray-900 active:text-gray-900"
              >
                Language
                <span class="badge text-white">New</span>
              </a>
            </li>
            <li class="bg-gray-100 font-medium text-gray-700 rounded-xl">
              <a>English</a>
            </li>
            <li><a>Indonesian</a></li>
          </ul>
        </div>

        <!-- dropdown verison Desktop -->
        <div class="dropdown dropdown-end bg-white hidden lg:block">
          <div tabindex="0" role="button" class="btn btn-ghost">
            <div class="w-10 rounded-none flex items-center">
              <p class="text-sm text-gray-900">1.0.0</p>
              <img src="{{ asset('resources/images/docs/arrow-down.svg') }}" alt="" class="p-1" />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow bg-white"
          >
            <li>
              <a
                class="justify-between font-medium text-gray-900 active:text-gray-900"
              >
                version
                <span class="badge text-white">New</span>
              </a>
            </li>
            <li class="bg-gray-100 font-medium text-gray-700 rounded-xl">
              <a>1.0.1</a>
            </li>
            <li><a>1.0.0</a></li>
          </ul>
        </div>

        <!-- dropdown profile Desktop -->
        <div class="dropdown dropdown-end bg-white md:block hidden">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="lg:w-10 rounded-full md:w-8">
              <img alt="Tailwind CSS Navbar component" src="{{ asset('resources/images/docs/git.svg') }}" />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow bg-white"
          >
            <li>
              <a
                class="justify-between font-medium text-gray-900 active:text-gray-900"
              >
                Profile
                <span class="badge text-white">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
        <!-- navbar desktop end -->

        <!-- Sidebar right tab and mobile version start -->
        <div class="lg:hidden block gap-2 z-10">
          <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

            <div class="drawer-content">
              <!-- Page content here -->
              <label for="my-drawer-4" class="w-24 h-24 hover:bg-slate-100">
                <img
                  src="{{ asset('resources/images/docs/more-circle.svg') }}"
                  alt="Menu icon"
                  class="w-[32px] h-[32px]"
                />
              </label>
            </div>

            <div class="drawer-side">
              <label for="my-drawer-4" class="drawer-overlay"></label>
              <ul
                class="menu bg-white text-base-content min-h-full md:w-80 w-full p-4 space-y-3"
              >
                <div class="flex justify-between items-center mb-4">
                  <div class="flex space-x-1">
                    <a
                      class="text-xl md:text-2xl text-slate-900 font-bold block"
                    >
                      API Saga
                    </a>
                  </div>
                  <div class="flex gap-2 mr-2">
                    <img
                      src="{{ asset('resources/images/docs/sun-tab.svg') }}"
                      alt="Sun icon"
                      class="h-[24px] w-[24px] md:h-[32px] md:w-[32px]"
                    />
                    <img
                      src="{{ asset('resources/images/docs/git.svg') }}"
                      alt="Git icon"
                      class="h-[24px] w-[24px] md:h-[32px] md:w-[32px]"
                    />
                    <label for="my-drawer-4" aria-label="close sidebar">
                      <img
                        src="{{ asset('resources/images/docs/close-circle.svg') }}"
                        alt="Close icon"
                        class="md:h-[34px] md:w-[34px] h-[24px] w-[24px] mt-0"
                      />
                    </label>
                  </div>
                </div>

                <!-- Sidebar Items -->
                <li
                  class="text-gray-900 font-medium mb-3 text-sm md:text-lg hover:text-gray-900 active:text-gray-900"
                >
                  <a href="#">Golang</a>
                </li>
                <li
                  class="text-slate-400 font-light mb-3 text-sm md:text-lg hover:text-gray-900 active:text-gray-900"
                >
                  <a href="#">React</a>
                </li>
                <li
                  class="text-slate-400 font-light mb-3 text-sm md:text-lg hover:text-gray-900 active:text-gray-900"
                >
                  <a href="#">Tailwind</a>
                </li>
                <li
                  class="text-slate-400 font-light mb-3 text-sm md:text-lg hover:text-gray-900 active:text-gray-900"
                >
                  <a href="#">Bootstrap</a>
                </li>

                <!-- Versions Dropdown -->
                <div class="collapse collapse-arrow mb-3 text-sm md:text-lg">
                  <input type="checkbox" class="peer" checked />
                  <div class="collapse-title text-md font-light">
                    <span class="text-gray-900 font-medium text-sm md:text-lg"
                      >Version</span
                    >
                  </div>
                  <div class="collapse-content">
                    <ul
                      class="menu menu-compact border-l-2 border-gray-200 pl-2"
                    >
                      <li class="mb-2 text-gray-900 text-sm md:text-lg">
                        <a href="#">1.0.0</a>
                      </li>
                      <li class="mb-2 text-gray-900 text-sm md:text-lg">
                        <a href="#">1.0.1</a>
                      </li>
                      <li class="mb-2 text-gray-900 text-sm md:text-lg">
                        <a href="#">1.0.0</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Language Dropdown -->
                <div class="collapse collapse-arrow mt-4">
                  <input type="checkbox" class="peer" checked />
                  <div class="collapse-title text-md font-light">
                    <div class="flex items-center">
                      <img
                        src="{{ asset('resources/images/docs/language-square-mobile.svg') }}"
                        alt="Language icon"
                        class="w-[24px] h-[24px] md:w-[32px] md:h-[32px] mr-2"
                      />
                      <span
                        class="text-gray-900 font-medium text-sm md:text-lg rounded-xl"
                        >English</span
                      >
                    </div>
                  </div>
                  <div class="collapse-content">
                    <ul
                      class="menu menu-compact border-l-2 border-gray-200 pl-2"
                    >
                      <li
                        class="mb-2 bg-gray-100 font-medium text-gray-700 rounded-xl text-sm md:text-lg"
                      >
                        <a href="#">English</a>
                      </li>
                      <li class="mb-2 text-gray-900 text-sm md:text-lg">
                        <a href="#">Indonesia</a>
                      </li>
                      <li class="text-gray-900 text-sm md:text-lg">
                        <a href="#">Arab</a>
                      </li>
                    </ul>
                    <!-- Gray box -->
                    <div
                      class="w-full bg-gray-100 rounded-lg p-12 mt-32"
                    ></div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <!-- Sidebar right tab and mobile version end -->
      </div>
    </nav>
  </header>